.about-us-sec {
    width: 100%;
    height: 100vh;
}

.about-us-sec .container {
    padding-top: 100px;
}

.view-all {
    justify-content: flex-end;
}

.view-all img {
    padding-top: 0.5rem;
    margin-bottom: 2rem;
    padding-left: 0.5rem;
    margin-top: -0.25rem;

}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 8px);
    top: 70%;
    left: 2%;
    width: 100%;
}

.swiper-slide {
    transition: opacity 1.5s ease-in-out;
}



.slide-text {
    transition: opacity 1500 ease-in-out;
    transition-delay: 10000;
    width: 100%;
    display: none;
}

.slide-text.active {
    opacity: 1;
    display: block;
    animation: fadeInUp 1.5s ease forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}